/home/jjl/quix/log/quix.log
{
        rotate 4
        daily
        missingok
        notifempty
        compress
        delaycompress
        sharedscripts
        postrotate
                /bin/kill -HUP `cat /home/jjl/quix/run/quix.pid 2>/dev/null` 2> /dev/null || true
        endscript
}

/home/jjl/quix/log/skynet.log
{
        rotate 4
        daily
        missingok
        notifempty
        compress
        delaycompress
        sharedscripts
        postrotate
                /bin/kill -HUP `cat /home/jjl/quix/run/quix.pid 2>/dev/null` 2> /dev/null || true
        endscript
}

/home/jjl/quix/log/money.log
{
        rotate 4
        daily
        missingok
        notifempty
        compress
        delaycompress
        sharedscripts
        postrotate
                /bin/kill -HUP `cat /home/jjl/quix/run/quix.pid 2>/dev/null` 2> /dev/null || true
        endscript
}